n8n/workflow-recebimento.json
{
  "name": "Prospecto - Recebimento",
  "nodes": [
    {
      "parameters": {
        "path": "prospecto-inbound",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "b2222222-0000-0000-0000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "prospecto-inbound"
    },
    {
      "parameters": {
        "jsCode": "const d = $input.item.json;\nconst event = d.event || '';\nconst fromMe = d.data?.key?.fromMe ?? true;\nconst text = (\n  d.data?.message?.conversation ||\n  d.data?.message?.extendedTextMessage?.text ||\n  ''\n).toLowerCase().trim();\nconst phone = (d.data?.key?.remoteJid || '').split('@')[0];\n\nconst keywords = ['ok', 'sim', 'quero', 'pode ser', 'tenho interesse', 'tudo bem'];\nconst isPositive = keywords.some(k => text.includes(k));\n\nreturn [{ json: { event, fromMe, text, phone, isPositive } }];"
      },
      "id": "b2222222-0000-0000-0000-000000000002",
      "name": "Processar Mensagem",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.event }}",
              "rightValue": "MESSAGES_UPSERT",
              "operator": { "type": "string", "operation": "equals" }
            },
            {
              "id": "c2",
              "leftValue": "={{ $json.fromMe }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "notEqual" }
            },
            {
              "id": "c3",
              "leftValue": "={{ $json.text }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty", "rightType": "any" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "b2222222-0000-0000-0000-000000000003",
      "name": "É mensagem recebida?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "c4",
              "leftValue": "={{ $json.isPositive }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equal" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "b2222222-0000-0000-0000-000000000004",
      "name": "Tem interesse?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [900, 200]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE leads SET status = 'interessado' WHERE telefone = '{{ $json.phone }}' AND status = 'contactado'",
        "options": {}
      },
      "id": "b2222222-0000-0000-0000-000000000005",
      "name": "Marcar Interessado",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1120, 140],
      "credentials": {
        "postgres": { "id": "1", "name": "Postgres Leads" }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://evolution-api:8080/message/sendText/prospecto-wa",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "2260026779083fe4f6b552c2a572f34dfb7343a4" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={\n  \"number\": \"SEU_NUMERO_AQUI\",\n  \"text\": \"🔔 Lead com interesse!\\n\\nTelefone: {{ $('Processar Mensagem').item.json.phone }}\\nMensagem: {{ $('Processar Mensagem').item.json.text }}\"\n}",
        "options": {}
      },
      "id": "b2222222-0000-0000-0000-000000000006",
      "name": "Notificar Admin",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 140]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Processar Mensagem", "type": "main", "index": 0 }]]
    },
    "Processar Mensagem": {
      "main": [[{ "node": "É mensagem recebida?", "type": "main", "index": 0 }]]
    },
    "É mensagem recebida?": {
      "main": [
        [{ "node": "Tem interesse?", "type": "main", "index": 0 }],
        []
      ]
    },
    "Tem interesse?": {
      "main": [
        [{ "node": "Marcar Interessado", "type": "main", "index": 0 }],
        []
      ]
    },
    "Marcar Interessado": {
      "main": [[{ "node": "Notificar Admin", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "meta": { "templateCredsSetupCompleted": true }
}
