n8n/workflow-disparo.json
{
  "name": "Prospecto - Disparo",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "minutes", "minutesInterval": 3 }]
        }
      },
      "id": "a1111111-0000-0000-0000-000000000001",
      "name": "A cada 3 min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, COALESCE(nome, 'Cliente') AS nome, telefone, campanha_id FROM leads WHERE status = 'novo' ORDER BY criado_em ASC LIMIT 1",
        "options": {}
      },
      "id": "a1111111-0000-0000-0000-000000000002",
      "name": "Buscar Lead",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [460, 300],
      "credentials": {
        "postgres": { "id": "1", "name": "Postgres Leads" }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty", "rightType": "any" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "a1111111-0000-0000-0000-000000000003",
      "name": "Tem lead?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT texto FROM campanhas WHERE id = {{ $('Buscar Lead').item.json.campanha_id }}",
        "options": {}
      },
      "id": "a1111111-0000-0000-0000-000000000007",
      "name": "Buscar Campanha",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [900, 200],
      "credentials": {
        "postgres": { "id": "1", "name": "Postgres Leads" }
      }
    },
    {
      "parameters": {
        "jsCode": "const texto = $('Buscar Campanha').item.json.texto;\nconst nome = $('Buscar Lead').item.json.nome || 'Cliente';\nreturn [{ json: { texto: texto.replace('{nome}', nome) } }];"
      },
      "id": "a1111111-0000-0000-0000-000000000008",
      "name": "Montar Mensagem",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://evolution-api:8080/message/sendText/prospecto-wa",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "2260026779083fe4f6b552c2a572f34dfb7343a4" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={\n  \"number\": \"{{ $('Buscar Lead').item.json.telefone }}\",\n  \"text\": \"{{ $('Montar Mensagem').item.json.texto }}\"\n}",
        "options": {}
      },
      "id": "a1111111-0000-0000-0000-000000000004",
      "name": "Enviar Mensagem",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 200]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE leads SET whatsapp_jid = '{{ $json.key.remoteJid }}', last_message_id = '{{ $json.key.id }}' WHERE id = {{ $('Buscar Lead').item.json.id }}",
        "options": {}
      },
      "id": "a1111111-0000-0000-0000-000000000006",
      "name": "Salvar JID",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1560, 200],
      "credentials": {
        "postgres": { "id": "1", "name": "Postgres Leads" }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE leads SET status = 'contactado' WHERE id = {{ $('Buscar Lead').item.json.id }}",
        "options": {}
      },
      "id": "a1111111-0000-0000-0000-000000000005",
      "name": "Marcar Contactado",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1780, 200],
      "credentials": {
        "postgres": { "id": "1", "name": "Postgres Leads" }
      }
    }
  ],
  "connections": {
    "A cada 3 min": {
      "main": [[{ "node": "Buscar Lead", "type": "main", "index": 0 }]]
    },
    "Buscar Lead": {
      "main": [[{ "node": "Tem lead?", "type": "main", "index": 0 }]]
    },
    "Tem lead?": {
      "main": [
        [{ "node": "Buscar Campanha", "type": "main", "index": 0 }],
        []
      ]
    },
    "Buscar Campanha": {
      "main": [[{ "node": "Montar Mensagem", "type": "main", "index": 0 }]]
    },
    "Montar Mensagem": {
      "main": [[{ "node": "Enviar Mensagem", "type": "main", "index": 0 }]]
    },
    "Enviar Mensagem": {
      "main": [[{ "node": "Salvar JID", "type": "main", "index": 0 }]]
    },
    "Salvar JID": {
      "main": [[{ "node": "Marcar Contactado", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "meta": { "templateCredsSetupCompleted": true }
}
